[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/midori-0.5.11]
row=4
col=2

[/root/Desktop/nanorc]
row=8
col=0

[/root/Desktop/C-esercizi-2016-07-05]
row=2
col=1

[/root/Desktop/javamm.desktop]
row=1
col=1

[/root/Desktop/midori_0.5.11_all_.tar.bz2]
row=2
col=2

[/root/Desktop/HelloWorld.class]
row=4
col=0

[/root/Desktop/terminalrc]
row=0
col=3

[/root/Desktop/NEWVINTAGE-SRC]
row=0
col=1

[/root/Desktop/color]
row=7
col=0

[/root/Desktop/turbulence]
row=6
col=0

[/root/Desktop/Mac OS X El Capitan v10.11.3]
row=5
col=2

[/root/Desktop/NOTE-SUI-PACCHETTI]
row=4
col=1

[/root/Desktop/test]
row=3
col=3

[/root/Desktop/swriter]
row=3
col=2

[/root/Desktop/VINTAGE]
row=6
col=3

[/root/Desktop/Apollo-11]
row=3
col=1

[/root/Desktop/vintage older version]
row=2
col=3

[/root/Desktop/HelloWorld.java]
row=5
col=0

[/root/Desktop/i3-depends]
row=0
col=2

[/root/Desktop/Greybird-Ocean]
row=5
col=3

[/root/Desktop/soffice]
row=1
col=2

[/root/Desktop/javamm-launcher.sh]
row=3
col=0

[/root/Desktop/modules-lst]
row=6
col=1

[/root/Desktop/LDFD]
row=8
col=3

[/root/Desktop/Archive-Zip-1.50.tar.gz]
row=8
col=1

[/root/Desktop/Xresources]
row=8
col=2

[/root/Desktop/Archive-Zip-1.50]
row=7
col=3

[/root/Desktop/atom.desktop]
row=5
col=1

[/root/Desktop/Material.jpg]
row=7
col=2

[/root/Desktop/thunderbird.desktop]
row=7
col=1

[/root/Desktop/my2.png]
row=6
col=2

[/root/Desktop/wget-1.16.3]
row=4
col=3

[/root/Desktop/manpages-it_2.80-5_all.deb]
row=1
col=3

[Cestino]
row=0
col=0

[/]
row=1
col=0

[/root]
row=2
col=0

