[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/midori-0.5.11]
row=3
col=3

[/root/Desktop/nanorc]
row=1
col=1

[/root/Desktop/javamm.desktop]
row=0
col=4

[/root/Desktop/midori_0.5.11_all_.tar.bz2]
row=5
col=0

[/root/Desktop/HelloWorld.class]
row=0
col=6

[/root/Desktop/terminalrc]
row=4
col=1

[/root/Desktop/swriter]
row=3
col=6

[/root/Desktop/color]
row=0
col=1

[/root/Desktop/NOTE-SUI-PACCHETTI]
row=4
col=5

[/root/Desktop/test]
row=1
col=5

[/root/Desktop/sdl-1.2.15.tar.xz]
row=1
col=6

[/root/Desktop/Makefile]
row=1
col=3

[/root/Desktop/pcre2-10.21.zip]
row=2
col=6

[/root/Desktop/mdma.c]
row=2
col=3

[/root/Desktop/VINTAGE]
row=4
col=8

[/root/Desktop/colorfull]
row=3
col=5

[/root/Desktop/vintage older version]
row=0
col=5

[/root/Desktop/HelloWorld.java]
row=3
col=7

[/root/Desktop/i3-depends]
row=3
col=0

[/root/Desktop/Greybird-Ocean]
row=5
col=2

[/root/Desktop/soffice]
row=4
col=0

[/root/Desktop/javamm-launcher.sh]
row=5
col=5

[/root/Desktop/color.c]
row=3
col=1

[/root/Desktop/nuovo.c]
row=2
col=4

[/root/Desktop/Noise]
row=0
col=3

[/root/Desktop/modules-lst]
row=0
col=2

[/root/Desktop/md5.c]
row=3
col=4

[/root/Desktop/md5]
row=4
col=4

[/root/Desktop/Archive-Zip-1.50.tar.gz]
row=2
col=2

[/root/Desktop/Xresources]
row=4
col=3

[/root/Desktop/Archive-Zip-1.50]
row=5
col=4

[/root/Desktop/scripts-experimental.func]
row=3
col=2

[/root/Desktop/atom.desktop]
row=2
col=5

[/root/Desktop/colorfull.c]
row=2
col=1

[/root/Desktop/mdma]
row=5
col=3

[/root/Desktop/thunderbird.desktop]
row=1
col=2

[/root/Desktop/nuovo]
row=1
col=4

[/root/Desktop/manpages-it_2.80-5_all.deb]
row=5
col=1

[/root/Desktop/wget-1.16.3]
row=4
col=2

[Cestino]
row=0
col=0

[/]
row=1
col=0

[/root]
row=2
col=0

