[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/dekompress.sh]
row=4
col=0

[/root/Desktop/pkgmanager.tar.bz2]
row=5
col=0

[/root/Desktop/i3-depends]
row=3
col=0

[Cestino]
row=1
col=0

[/]
row=2
col=0

[/root]
row=0
col=0

