[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/manpages-it_2.80-5_all.deb]
row=1
col=1

[/root/Desktop/i3-depends]
row=4
col=0

[/root/Desktop/remake.sh]
row=1
col=2

[/root/Desktop/Greybird-Ocean]
row=1
col=7

[/root/Desktop/color.c]
row=2
col=2

[/root/Desktop/modules-lst]
row=5
col=5

[/root/Desktop/NOTE-SUI-PACCHETTI]
row=3
col=3

[/root/Desktop/scripts-experimental.func]
row=4
col=6

[/root/Desktop/pcre2-10.21.zip]
row=4
col=2

[/root/Desktop/Noise]
row=2
col=3

[/root/Desktop/terminalrc]
row=5
col=1

[/root/Desktop/Archive-Zip-1.50.tar.gz]
row=6
col=1

[/root/Desktop/sdl-1.2.15.tar.xz]
row=7
col=2

[/root/Desktop/compr.sh]
row=0
col=2

[/root/Desktop/atom.desktop]
row=0
col=1

[/root/Desktop/thunderbird.desktop]
row=3
col=0

[/root/Desktop/contentscript]
row=5
col=6

[/root/Desktop/soffice]
row=3
col=1

[/root/Desktop/VINTAGE]
row=4
col=7

[/root/Desktop/midori_0.5.11_all_.tar.bz2]
row=7
col=0

[/root/Desktop/nanorc]
row=7
col=1

[/root/Desktop/color]
row=3
col=2

[/root/Desktop/wget-1.16.3]
row=8
col=1

[/root/Desktop/swriter]
row=4
col=1

[/root/Desktop/vintage older version]
row=5
col=0

[/root/Desktop/midori-0.5.11]
row=8
col=0

[/root/Desktop/search_pkg.sh]
row=6
col=2

[/root/Desktop/Archive-Zip-1.50]
row=6
col=0

[/root/Desktop/Xresources]
row=2
col=1

[Cestino]
row=0
col=0

[/]
row=1
col=0

[/root]
row=2
col=0

