[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/midori-0.5.11]
row=7
col=0

[/root/Desktop/VINTAGE-NOW]
row=5
col=1

[/root/Desktop/nanorc]
row=6
col=3

[/root/Desktop/javamm.desktop]
row=8
col=2

[/root/Desktop/midori_0.5.11_all_.tar.bz2]
row=3
col=3

[/root/Desktop/033-read]
row=0
col=2

[/root/Desktop/terminalrc]
row=5
col=4

[/root/Desktop/swriter]
row=4
col=4

[/root/Desktop/HelloWorld.class]
row=5
col=2

[/root/Desktop/color]
row=3
col=2

[/root/Desktop/turbulence]
row=2
col=1

[/root/Desktop/C-esercizi-2016-07-05]
row=4
col=0

[/root/Desktop/NOTE-SUI-PACCHETTI]
row=7
col=3

[/root/Desktop/test]
row=0
col=1

[/root/Desktop/VINTAGE]
row=3
col=1

[/root/Desktop/vintage older version]
row=6
col=1

[/root/Desktop/RemixOS-DDHD]
row=8
col=3

[/root/Desktop/HelloWorld.java]
row=6
col=2

[/root/Desktop/i3-depends]
row=5
col=0

[/root/Desktop/soffice]
row=3
col=4

[/root/Desktop/THE KIT]
row=1
col=1

[/root/Desktop/javamm-launcher.sh]
row=0
col=3

[/root/Desktop/Hellobash]
row=4
col=2

[/root/Desktop/Setup.dmg]
row=1
col=4

[/root/Desktop/Simply_Retro_XFCE.tar.gz]
row=2
col=4

[/root/Desktop/modules-lst]
row=4
col=3

[/root/Desktop/LDFD]
row=6
col=0

[/root/Desktop/VINTAGE-BACKUP-2016-07-24]
row=4
col=1

[/root/Desktop/Remix_OS_for_PC_64bit_B2016071101.iso]
row=0
col=4

[/root/Desktop/Xresources]
row=7
col=4

[/root/Desktop/Archive-Zip-1.50.tar.gz]
row=1
col=2

[/root/Desktop/Archive-Zip-1.50]
row=3
col=0

[/root/Desktop/How_to_launch_Remix_OS_for_PC.txt]
row=7
col=2

[/root/Desktop/atom.desktop]
row=2
col=2

[/root/Desktop/RRemix]
row=8
col=0

[/root/Desktop/025-readdir]
row=8
col=1

[/root/Desktop/thunderbird.desktop]
row=6
col=4

[/root/Desktop/my2.png]
row=5
col=3

[/root/Desktop/manpages-it_2.80-5_all.deb]
row=1
col=3

[/root/Desktop/Material.jpg]
row=2
col=3

[/root/Desktop/wget-1.16.3]
row=7
col=1

[Cestino]
row=1
col=0

[/]
row=2
col=0

[/root]
row=0
col=0

